{% extends "layout.html.twig" %}

{% block title %}
  {{ parent() }} - Toute l'actu
{% endblock %}

{% block stylesheets %}
  <link rel="stylesheet" href="{{ asset('css/styleNews.css') }}">
{% endblock %}

{% block body %}
  <div id="newsBanner" class="banner">
    <div class="titleBanner">
      <h1>Full Metal Head</h1>
      <p>C'est toute l'actu du métal</p>
    </div>
  </div>

  {% block hvnews_body %}
  {% endblock %}

  {% block javascripts %}
    {% if errorMessage == 1 %}
      <script type="text/javascript">
        $(document).ready(function(){
          $('#modalConnection').modal('show');
           });
      </script>
    {% endif %}
  {% endblock %}
{% endblock %}
