body
{
  text-align: center;
  background-color: #f4f3f1;
  font-family: 'Metal Mania', cursive;
}
.navbar
{
  margin: 0;
  border-radius: 0;
  position: fixed;
  width: 100%;
  z-index: 1;
  font-size: 2em;
}
.navbar-header
{
  padding-left: 30px;
}
.navbar-brand
{
  font-size: 1.5em;
}
.nav
{
  float: right;
  margin-right: 30px;
}

#footer-metal
{
  background-color: #222222;
  color: #f4f3f1;
  height: 200px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
#social-media
{
  display: flex;
}
#social-media i
{
  margin: 15px;
}
#footer-metal p
{
  font-size: 1.5em;
}
