#newsBanner
{
  background: url('../images/metal-banner-news.jpg') no-repeat center;
  background-size: cover;
  height: 300px;
  position: relative;
}
#titleNewsBanner
{
  color: #f4f3f1;
  position: absolute;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: rgba(0,0,0,0.4);
  font-size: 3em;
  font-family: 'Metal Mania', cursive;
}
#titleNewsBanner h1
{
  font-size: 2.5em;
}
#containerMain
{
  max-width: 1200px;
  margin: auto;
  margin-top: 50px;
  margin-bottom: 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
#carouselNews
{
  width: 700px;
  height: 400px;
}
.carousel-caption a
{
  text-decoration: none;
  color: #f4f3f1;
}
#widgets
{
  width: 400px;
  height: 400px;
  color: #f4f3f1;
  background-color: #343a40;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
#searchNewsInput
{
  display: flex;
}
#popularNews a
{
  color: #f4f3f1;
}
#popularNews a:hover
{
  text-decoration: none;
}
#containerNews
{
  max-width: 1200px;
  margin: auto;
  margin-bottom: 50px;
}
.news
{
  color: #f4f3f1;
  height: 130px;
  background-color: #343a40;
  border-radius: 5px;
  margin-top: 20px;
  margin-bottom: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  transition-property: font-size;
  transition-duration: 0.3s;
}
.news a
{
  text-decoration: none;
  color: #f4f3f1;
}
.titleNews
{
  color : #c33b3b;
  font-size: 1.5em;
}
.news:hover
{
  font-size: 1.2em;
}
#containerCurrentEvent
{
  max-width: 800px;
  margin: auto;
  margin-top: 50px;
}
#imageCurrentEvent
{
  max-height: 600px;
  margin: auto;
}
#newContentCurrentEvent
{
  border: 2px solid #343a40;
  padding: 10px;
  max-width: 800px;
  margin: auto;
  margin-top: 30px;
  margin-bottom: 30px;
}
#writeComment
{
  text-align: left;
  padding: 20px;
}
#commentsCurrentEvent h3
{
  border: 2px solid #343a40;
  margin: auto;
  margin-bottom: 30px;
}
.commentCurrentEvent
{
  min-height: 100px;
  margin: auto;
  margin-bottom: 30px;
  border: 2px solid #343a40;
  display: flex;
  align-items: top;
  padding-top: 10px;
}
.avatarComment
{
  min-width: 75px;
  height: 75px;
  margin-left: 20px;
}
.commentContent
{
  margin-left: 20px;
  margin-right: 20px;
  text-align: left;
}
.commentContent p
{
  margin-top: 10px;
}

#createNewForm, #editNewForm
{
  max-width: 1200px;
  margin: auto;
  text-align: left;
}
.commentAdmin
{
  color: #f4f3f1;
  background-color: #343a40;
  height: 100px;
  text-align: left;
  margin-bottom: 10px;
}
@media (max-width: 960px) {
  #titleNewsBanner
  {
    font-size: 2em;
  }
  #titleNewsBanner h1
  {
    font-size: 2.5em;
  }
  #widgets
  {
    display: none;
  }
}
