body
{
  text-align: center;
  background-color: #f4f3f1;
  color : #343a40;
  font-family: 'Open Sans', sans-serif;
}
input
{
  font-family: 'Open Sans', sans-serif;
}
h1, h2, h3, h4, h5, h6
{
  font-family: 'Metal Mania', cursive;
}
.navbar
{
  font-size: 1.8em;
  font-family: 'Metal Mania', cursive;
}
#titleWebSite
{
  font-size: 1.5em;
}
#navbarSupportedContent
{
  justify-content: flex-end;
}
#footer-metal
{
  background-color: #343a40;
  color: #f4f3f1;
  height: 200px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  font-family: 'Metal Mania', cursive;
  padding-top: 20px;
}
#social-media
{
  display: flex;
}
#social-media i
{
  margin: 15px;
  cursor: pointer;
}
#footer-metal p
{
  font-size: 1.5em;
}
