#ForumBanner
{
  background: url('../images/metal-banner-forum.jpg') no-repeat center;
  background-size: cover;
}
#forumTable
{
  max-width: 960px;
  margin: auto;
  margin-top: 50px;
  margin-bottom: 50px;
  text-align: left;
}
table
{
  font-family: 'Metal Mania', cursive;
}
td, td h4, td h5
{
  height: 30px;
  line-height: 40px;
}
a
{
  color: #23272b;
}
a:hover
{
  color: rgb(100, 100, 100);
}
.forum_tools
{
  display: flex;
  justify-content: space-between;
}
.pagination li
{
  margin: 5px;
  background-color: #23272b;
  min-width: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'Metal Mania', cursive;
}
.pagination li a
{
  color: #f4f3f1;
}
.post_forum
{
  display: flex;
  padding: 20px;
}
.user_description
{
  width: 20%;
  text-align: center;
}
.user_post
{
  width: 80%;
}
.buttonPost
{
  float: right;
  min-width: 100px;
  display: flex;
  justify-content: space-between;
}
#formCreateTopic, #formAddPost
{
  max-width: 960px;
  margin: auto;
  margin-top: 50px;
  margin-bottom: 50px;
  text-align: left;
}
.buttonForum
{
  display: flex;
  justify-content: flex-end;
}
