#registrationBanner
{
  background: url('../images/metal-registration.jpg') no-repeat center;
  background-size: cover;
}
#adminBanner
{
  background: url('../images/metal-admin.jpg') no-repeat center;
  background-size: cover;
}
.blockAdmin
{
  display: flex;
  justify-content: space-between;
  margin-top: 25px;
  margin-bottom: 75px;
}
.block
{
  min-width: 350px;
  height: 200px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  border: 1px solid #969696;
  border-radius: 5px;
  padding: 20px;
  margin: auto;
  margin-top: 25px;
}
