body
{
  text-align: center;
  background-color: #f4f3f1;
}
.navbar
{
  margin: 0;
  border-radius: 0;
  position: fixed;
  width: 100%;
  z-index: 1;
}
#metalBanner
{
  background: url('../images/metal-banner.jpg') no-repeat center;
  background-size: cover;
  height: 970px;
  position: relative;
  z-index: 0;
}
#lastsNewsCategory
{
  padding-top: 75px;
  padding-bottom: 75px;
}
#titleBanner, #titleForumHome
{
  height: 100%;
  background: rgba(0,0,0,0.4);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  color: white;
}
#lastsNews
{
  display: flex;
  justify-content: space-around;
  margin: auto;
  max-width: 1400px;
}
.lastPost
{
  border-radius: 5px;
  margin-top: 50px;
  display: flex;
  flex-direction: column;
  min-height: 400px;
}
.imgLastPost
{
  width: 75%;
  border-radius: 50%;
  overflow: hidden;
  margin: auto;
  transition-property: width;
  transition-duration: 0.5s;
}
.imgLastPost:hover
{
  width: 100%;
}
#forumHome
{
  height: 920px;
  background: url('../images/metal-forum.jpg') no-repeat center;
  background-size: cover;
}
#clickForum
{
  height: 250px;
  width: 250px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgba(244,243,241,0.3);
  color: #f4f3f1;
  transition-property: height, width, background, color;
  transition-duration: 0.5s;
  font-size: 2em;
  padding: 10px;
}
#clickForum:hover
{
  height: 325px;
  width: 325px;
  background: rgba(244,243,241,1);
  color: black;
}
#clickForum p
{
  max-width: 220px;
}
